<header id="header" class="header-logo-area" th:fragment="header">
    <!-- 네비게이션 바 -->
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-brand">홈</a>
            <ul class="navbar-menu">
                <li class="dropdown dropdown-toggle">상품
                    <ul class="dropdown-menu">
                       <li><a th:href="@{/category/categories}">카테고리 관리</a></li>
                       <li><a th:href="@{/product/products}">상품 관리</a></li>
                    </ul>
                </li>
                <li class="dropdown dropdown-toggle">분석
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/analyze/analyzes/add}">업로드</a></li>
                        <li><a th:href="@{/analyze/analyzes}">분석 페이지</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/member/members}">회원 관리</a></li>
                <li><a th:href="@{/buy/buys}">구매내역</a></li>
            </ul>
            <div class="navbar-user">
                <span th:if="${session.loginMember != null}" th:text="'환영합니다, ' + ${session.loginMember.name} + '님'">사용자 이름</span>
                <form class="navbar-logout" th:action="@{/logout}" method="post" th:if="${session.loginMember != null}">
                    <button type="submit" class="logout-button">로그아웃</button>
                </form>
                <a href="/login" class="login-link" th:if="${session.loginMember == null}">로그인</a>
            </div>
        </div>
    </nav>
</header>
