<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>상품 목록</title>
  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 800px; margin-top: 20px;">
  <!-- Page Title -->
  <div class="text-center">
    <h2>상품 목록</h2>
  </div>

  <!-- Add Product Button -->
  <div class="row my-3">
    <div class="col">
      <button class="btn btn-primary float-end"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/product/products/add}'|"
              type="button">상품 등록
      </button>
      <button class="btn btn-primary float-end"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/category/categories/add}'|"
              type="button"> 카테고리 등록
      </button>
      <button class="btn btn-primary float-end"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/}'|"
              type="button">메인으로 돌아가기
      </button>
    </div>
  </div>

  <!-- Table for Product List -->
  <hr>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">상품번호</th>
        <th scope="col">상품명</th>
        <th scope="col">판매가</th>
        <th scope="col">재고</th>
        <th scope="col">관리</th>
      </tr>
      </thead>
      <tbody>
      <!-- Iterate Over Products -->
      <tr th:each="product : ${products}">
        <td>
          <a th:href="@{/product/products/{product_no}(product_no=${product.product_no})}"
             th:text="${product.product_no}"></a>
        </td>
        <td>
          <a th:href="@{/product/products/{product_no}(product_no=${product.product_no})}"
             th:text="${product.name}"></a>
        </td>
        <td th:text="${#numbers.formatDecimal(product.out_price, 0, 'COMMA')}">10000</td>
        <td th:text="${product.quantity}">10</td>
        <td>
          <button class="btn btn-sm btn-danger"
                  th:onclick="|location.href='@{/product/products/delete/{product_no}(product_no=${product.product_no})}'|">삭제</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
