<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<head>
  <meta charset="utf-8">
  <title>상품 상세정보</title>
</head>
<body>

<div class="container" style="max-width: 600px; margin-top: 20px;">
  <div class="py-3 text-center">
    <h2>상품 상세정보</h2>
  </div>

  <div class="card shadow-sm p-3">
    <div class="mb-3">
      <h5>상품 번호</h5>
      <p th:text="${product.product_no}"></p>
    </div>
    <div class="mb-3">
      <h5>상품명</h5>
      <p th:text="${product.name}"></p>
    </div>
    <div class="mb-3">
      <h5>회사명</h5>
      <p th:text="${product.company}"></p>
    </div>
    <div class="mb-3">
      <h5>입고가</h5>
      <p th:text="${product.in_price}"></p>
    </div>
    <div class="mb-3">
      <h5>판매가</h5>
      <p th:text="${product.out_price}"></p>
    </div>
    <div class="mb-3">
      <h5>재고</h5>
      <p th:text="${product.quantity}"></p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-warning w-100"
              th:onclick="|location.href='@{/product/products/{product_no}/edit(product_no=${product.product_no})}'|">
        수정
      </button>
    </div>
    <div class="col">
      <button class="btn btn-danger w-100 delete-btn" th:data-id="${product.product_no}">삭제</button>
    </div>
    <div class="col">
      <button class="btn btn-secondary w-100"
              th:onclick="|location.href='@{/product/products}'|">목록으로
      </button>
    </div>
  </div>
</div>

<script>
  document.querySelector('.delete-btn').addEventListener('click', function () {
    const productId = this.getAttribute('data-id');
    if (confirm("정말 삭제하시겠습니까?")) {
      fetch(`/product/products/${productId}/delete`, { method: 'POST' })
              .then(() => location.href = '/product/products');
    }
  });
</script>

</body>
</html>
