<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>회원 상세 정보</title>
  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px; margin-top: 20px;">
  <div class="text-center">
    <h2>회원 상세 정보</h2>
  </div>

  <div>
    <label>회원번호:</label>
    <span th:text="${member.member_no}"></span>
  </div>
  <div>
    <label>아이디:</label>
    <span th:text="${member.id}"></span>
  </div>
  <div>
    <label>이름:</label>
    <span th:text="${member.name}"></span>
  </div>
  <div>
    <label>생년월일:</label>
    <span th:text="${member.dob}"></span>
  </div>
  <div>
    <label>성별:</label>
    <span th:text="${member.gender}"></span>
  </div>
  <div>
    <label>이메일:</label>
    <span th:text="${member.email}"></span>
  </div>
  <div>
    <label>전화번호:</label>
    <span th:text="${member.phone}"></span>
  </div>

  <div class="mt-3">
    <button class="btn btn-primary" th:onclick="|location.href='@{/member/members}'|">목록으로</button>
  </div>
</div>
</body>
</html>
