<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="utf-8">
    <title>분석 등록</title>
    <style>
        .container {
            max-width: 600px;
            margin-top: 20px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-3 text-center">
        <h2>분석 등록</h2>
    </div>

    <h4 class="mb-3">분석 정보 입력</h4>

    <form th:action="@{/analyze/analyzes/add}" th:object="${analyze}" method="post" enctype="multipart/form-data">
        <!--Hidden Fields-->
        <input type="hidden" name="member_no" th:value="${session.loginMember.member_no}">

        <div class="mb-3">
            <label for="file" class="form-label">Upload Image:</label>
            <input type="file" id="file" name="file" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="image_name" class="form-label">Image Name:</label>
            <input type="text" id="image_name" name="image_name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="year" class="form-label">Year:</label>
            <input type="number" id="year" name="analyze_year" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="graph_type" class="form-label">Graph Type:</label>
            <input type="text" id="graph_type" name="graph_type" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="image_description" class="form-label">Image Description:</label>
            <textarea id="image_description" name="image_description" class="form-control" required></textarea>
        </div>

        <!--버튼-->
        <div class="row">
            <div class="col">
                <button class="btn btn-primary w-100" type="submit">확인</button>

            </div>
            <div class="col">
                <button class="btn btn-secondary w-100"
                        th:onclick="|location.href='@{/analyze/analyzes}'|"
                        onclick="location.href='analyzes.html'">취소</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>
