<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>카테고리 등록</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 600px;
            margin-top: 20px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <!-- Page Title -->
    <div class="py-3 text-center">
        <h2>카테고리 등록</h2>
    </div>

    <!-- Form Header -->
    <h4 class="mb-3">카테고리 정보 입력</h4>

    <!-- Form Start -->
    <form th:action="@{/category/categories/add}" th:object="${category}" method="post">

        <!-- Global Error -->
        <div th:if="${errors?.containsKey('globalError')}" class="mb-3">
            <p class="field-error" th:text="${errors['globalError']}">전체 오류 메시지</p>
        </div>

        <!-- Category Name -->
        <div class="mb-3">
            <label for="name" class="form-label">카테고리명</label>
            <input type="text" id="name" th:field="*{name}"
                   th:classappend="${errors?.containsKey('name')} ? 'field-error' : _"
                   class="form-control" placeholder="카테고리명을 입력하세요">
            <div class="field-error" th:if="${errors?.containsKey('name')}" th:text="${errors['name']}"></div>
        </div>

        <!-- Deleted -->
        <div class="mb-4">
            <div class="form-check">
                <input type="checkbox" id="delete" th:field="*{delete}" value="Y" class="form-check-input">
                <label for="delete" class="form-check-label">삭제 여부</label>
            </div>
        </div>

        <!-- Submit and Cancel Buttons -->
        <div class="row">
            <div class="col">
                <button class="btn btn-primary w-100" type="submit">카테고리 등록</button>
            </div>
            <div class="col">
                <button class="btn btn-secondary w-100" type="button"
                        th:onclick="|location.href='@{/category/categories}'|">취소</button>
            </div>
        </div>

    </form>
</div> <!-- /container -->

</body>
</html>
