<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="utf-8">
    <title>카테고리 수정</title>
</head>
<body>

<div class="container" style="max-width: 600px; margin-top: 20px;">
    <div class="py-3 text-center">
        <h2>카테고리 수정</h2>
    </div>

    <form th:action="@{/category/categories/{category_no}/edit(category_no=${category.category_no})}"
          th:object="${category}" method="post">
        <input type="hidden" th:field="*{category_no}">

        <div class="mb-3">
            <label for="name" class="form-label">카테고리명</label>
            <input type="text" id="name" th:field="*{name}" class="form-control">
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary w-100" type="submit">수정 완료</button>
            </div>
            <div class="col">
                <button class="btn btn-danger w-100" id="deleteBtn" type="button">삭제</button>
            </div>
            <div class="col">
                <button class="btn btn-secondary w-100" type="button"
                        th:onclick="|location.href='@{/category/categories}'|">취소
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById("deleteBtn").addEventListener("click", function () {
        if (confirm("정말 삭제하시겠습니까?")) {
            location.href = "/category/categories/" + document.querySelector("[name='category_no']").value + "/delete";
        }
    });
</script>

</body>
</html>
